@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    background: white;
    display: grid;
    grid-template: 80px 1fr 1fr 80px / 2fr 1fr;
    gap: 10px;
}

.header{
    background: blue;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
.header h1{
    justify-self: start;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 2.5em;
    align-self: center;
}
.header div{
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}
.header div button{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 30%;
    background: rgb(155, 231, 250);
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}

.contenedor1{
    background: red;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-template-areas: "celda1 celda2" "celda3 celda4";
}
.celda1{
    background: green;
    grid-area: celda1;
}
.celda2{
    background: yellow;
    grid-area: celda2;
}
.celda3{
    background: red;
    grid-area: celda3;
}
.celda4{
    background: blue;
    grid-area: celda4;
}
.contenedor2{
    background: blueviolet;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.contenedor3{
    background: yellow;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.footer{
    background: black;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}