body{
    background-color: rgb(92, 187, 241);
}

.titulo{
    color: white;
    background-color: #efbc6e;
    text-shadow: 5px 5px 2px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 10px;
}   

.articulo{
    background-color: royalblue;
    color: rgb(255, 255, 255);
    width: 500px;
    height: 100px;
    /* border: 10px double yellow; */
    /* solid dashed dotted double */
    /* border-left: 4px solid blueviolet;
    border-top: 2px dotted yellow;
    border-right: 3px dashed red;
    border-bottom: 10px double white; */
    border-top: 2px solid black;
    border-left: 4px solid blueviolet;
    /* top right bottom left */
    padding: 10px 10px 5px 30px;
    margin: 10px;
    box-shadow: 5px 5px 2px gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 900; */
    font-style: italic;
    text-indent: 10px;
    line-height: 20px;
}

.navegar{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    background-color: aqua;
    padding: 5px;
}
/* pseudoclase */
.navegar:hover{
    background-color: white;
    color: rgb(39, 204, 204);
    border: 2px solid gray;
}

ul{
    list-style-type: georgian;
}