ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 228, 226);
    width: 120px;
}

li a{
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    color: black;
}

li a:hover{
    background-color: rgb(180, 243, 243);
    color: white;
}