table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table, td, th{
    border: 1px solid black;
}

th{
    height: 30px;
    padding: 5px;
    background-color: aqua;
    color: white;
}

td{
    padding: 5px;
}

td:first-child, td:last-child{
    text-align: center;
}

td:nth-child(2){
    font-style: italic;
}

tbody > tr:hover{
    background-color: blue;
}