ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 228, 226);
    /* width: 120px; */
    overflow: hidden;
}

li a{
    display: block;
    text-decoration: none;
    padding: 5px 25px;
    color: black;
}

li{
    float: left;
}

li a:hover{
    background-color: rgb(180, 243, 243);
    color: white;
}